pipeline/pipe_parquet_to_db.json
{
	"name": "pipe_parquet_to_db",
	"properties": {
		"activities": [
			{
				"name": "getmetadata_parquet",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_parquet",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "parquetfiles",
							"fileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "list_parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filter_files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "parquet_to_db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_parquet",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "parquetfiles",
										"fileName": {
											"value": "@replace(item().Name,'.parquet','')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dynamic_azuresql",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SalesLT",
										"tableName": {
											"value": "@replace(item().Name,'.parquet','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "proc_cidades",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "list_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[proc_dedup_cidades]"
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "proc_cor",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "list_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[proc_dedup_cor]"
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "filter_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getmetadata_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getmetadata_parquet').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().type, 'Folder'))",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adf_03_handson01"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-15T16:29:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}